// Cozy theme customisations

.content h3, .content h4, .content h5, .content h6 {
  clear: both;
}

body .content pre, body .content blockquote {
  padding-top: 1em;
  padding-bottom: 1em;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.tocify-logo {
    padding: $nav-padding;
    border-bottom: 1px solid $nav-border-bg;

    img {
        max-height: 36px;
    }
}
